@font-face {
  font-family: sh-num;
  src: url(assets/Normald.ttf);
}

@font-face {
  font-family: sh-text;
  src: url(assets/7px3bus.ttf);
}

:root {
  --lightblue: rgb(152, 222, 245);
  --purple: rgb(98, 26, 187);
  --gold: rgb(132, 128, 11);
  --black: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro {
  z-index: 20;
  width: 1400px;
  height: 900px;
  position: relative;
  background-color: var(--black);
}

#introScore {
  top: 50px;
  left: 200px;
}

#introHighScore {
  top: 50px;
  right: 200px;
}

#introList {
  grid-template-columns: 1fr 4fr;
}

#introList div {
  width: 100%;
  height: 100%;
}



#content {
  width: 1400px;
  height: 900px;
  position: relative;
}

.canvas {
  position: absolute;
  left: 0;
  right: 0;
}

.score {
  position: absolute;
  width: 250px;
  height: 70px;
  background-color: #000000;
  font-size: 80px;
  padding-right: 10px;
  text-align: right;
  z-index: 10;
  font-family: sh-num;
}

#scoreTop {
  top: 32px;
  color: var(--lightblue);
}

#scoreBottom {
  top: 134px;
  color: var(--purple);
}

#lifes {
  right: 0px;
  top: 0px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  width: 240px;
  background-color: var(--black);
  z-index: 10;
  height: fit-content;
  position: absolute;
}

#lifes>div {
  height: 32px;
  margin: 5px;
  width: 64px;
  background-color: var(--black);
  background-image: url('./assets/life.png');
  background-size: cover;
}

#keys {
  position: absolute;
  right: 0px;
  top: 750px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  width: 240px;
  background-color: var(--black);
  z-index: 10;
  height: fit-content;
}

#keys>div {
  height: 50px;
  margin: 5px;
  width: 64px;
  background-color: var(--black);
  background-size: cover;
}

#bottom {
  position: absolute;
  display: flex;
  justify-content: space-between;
  font-family: sh-text;
  color: var(--gold);
  font-size: 60px;
  width: 100%;
  bottom: 0;
}